

.form__container{
    width: calc(100% - 20px);
    margin: 50px auto;
    background-color: #00b2ac;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 40px 10%;
    align-items: center;
}

.input__text{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    color: #fff;
}

.input__text>label{
    font-size: 20px;
}

.input__text>input{
    margin-top: 15px;
    background-color: #00b2ac;
    font-size: 16px;
    color: #fff ;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline:none;
    
}

input[type=text]:focus {
    border: 2px solid rgb(255, 255, 255);
}

.submit__form{
    margin-top: 25px;
    height: 30px;
    width: 50%;
    min-width: 200px;
    font-size: 16px;
}

.input__text>textarea{
    margin-top: 5px;
    max-width: calc(100% + 4%);
    background-color: #00b2ac;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    outline:none;
    color: #fff;
}

.input__text>textarea:focus{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
}
