.form__container{
    width: 60%;
    height: 500px;
    margin: 20% auto;
    display: flex;
    align-items: center;
    border: 2px solid blue;
}


.form__left__content{
    width: 40%;

}

.form__right__content{
    width: 60%;
}

.form__name{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__name>label{
    width: 100%;
}

.form__name>input{
    width: 60%;
}

.form__sex{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.form__sex>span{
    width: 100%;
}

.form__sex>label{
    margin: 10px;
}

@media (max-width: 1000px){
    .form__container{
        flex-direction: column;
        width: 80%;
        margin: 10% auto;
        align-items: center;
    }
}

@media (max-width: 768px){
    .form__container{
        width: 90%;
        margin: 0 auto;
        height: 100%;
        padding-bottom: 10px;
    }
}