html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration:none;
    color: rgb(0, 0, 0);
  }



h3{
    font-size: 28px;
}

/* TOP */
.contact__info{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    height: 160px;
    justify-content: space-between;
    font-size: 18px;
}

.contact__info__logo{
    height: 100px;
    width: auto;
    padding-top: 30px;
}

.contact__info__name{
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.contact__info__tel{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* TOP-MENU-NAV */

.top__menu{
    
    height: 68px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #21b5e2;
    position: sticky;
    top: 0;
    z-index: 4;
   
}
.top__menu>a{
     transition-duration: 1s;
}

.top__menu>a:hover {
    transform: translateY(-7px);
}


.top__menu>a>li{
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}
.top__menu__a{
    height: 50px;
    width: 100%;
}

.top__menu>a>li:hover{
    background-color: #3687a0;
}

.drop__box__container{
    margin-left: 20px;
    position: relative;
    display: none;
}

.drop__box{
    
    position: relative;
    
}

.drop__button{
    width: 45px;
    height: 45px;
    border: none;
    background-color: rgba(255, 0, 0, 0.0);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.drop__button__content{
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drop__button__element{
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: black;
}





.drop__content{
    display: none;
    position: absolute;
    background-color: #00f7ff;
    width: 100vw ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -31px;
    top: 40px;
}

.drop__content__activ{
    display: block;
}
.drop__content>a>li{
    font-size: 24px;
    padding:  20px;
    min-width: calc(100vw - 40px);

}



.drop__content li:hover{
    background-color: #267679;
}

.drop__box__text{
    margin-top: 10px;
    font-size: 24px;
}

.responsive__contact__info{
    display: none;
}

@media (max-width: 1000px) {
    .contact__info{
        display: none;
    }


    .top__menu>a{
        display: none;
        }
    .top__menu>a>li{
        display: none;
    }

    .top__menu{
        margin-top: 0px;
        height: 120px;
    }
    .drop__box__container{
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .responsive__contact__info{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 20px;
        font-size: 22px;
    }
}

@media (max-width: 600px){
    .responsive__tel{
        display: none;
    }
}

/* CONTENT-INFO */

.content__info__background{
    background-image: url(../photo/26807.jpg);
    padding: 20px 0;
}

.content__info{
    width: 90%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    align-items: center;
    background-color: #21b5e2;
}

.content__info__text{
    display: flex;
    margin-left: 10vw;
    
}
.content__info__text>img{
    height: 190px;
    width: 190px;
    border-radius: 50%;
}

.content__info__text>p{
    font-size: 34px;
    max-width: 600px;
    margin-left: 30px;
    height: 190px;

}

@media (max-width: 1000px) {
    .content__info__text>p{
        font-size: 30px;

    }

    .content__info__text>p{
        height: 100%;
    }
}

@media (max-width: 767px) {
    .content__info{
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .content__info__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .content__info__text>p{
        margin-left: 0px;
        text-align: center;
    }
}




/* Научные достяжения*/
.science__block{
    
    background-color: rgb(255, 255, 255);
}

.science__block__top{

    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    
}

.science__block__bot{
    margin-top: 50px;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.science__block__content{
    margin-top: 40px;
    width: 100%;
    display: flex;
}

.science__block__content>div>p{
    font-size: 20px;
    margin: 0 0 20px 30px;
}

.science__block__img{
    width: 30%;
    height: 100%;
}

.science__block__text{
    width: 70%;
}

.science__block__img>img{
    height: 100%;
    width: 100%;
}

@media (max-width: 1000px) {
    .science__block__img{
        width: 50%;

    }
    
}
/* Блок направления центра*/
.focus__block{
    background-color: rgb(255, 2, 2);
    font-size: 26px;
}

.info__block{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0px;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    box-shadow: 6px 6px 0px 1px #1dacd6;
}
.h3__contur{
    
    margin-top: 10px;
    height: 3px;
    width: 70px;
    background-color: #1dacd6;
    
}
.text__inf{
    font-size: 16px;
}

/* Блок сотрудников */
.administration__block{
    background-color: rgb(255, 255, 255);

}

.admin__block__top{

    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.not__activ__button{
    height: 60px;
    width:  120px;
    background-color: #4793d1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-radius 0.5s ease;
}

.not__activ__button:hover{
    background-color: red;
    border-radius: 30px;
}

.admin__block__bot{
    margin-top: 50px;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
[class*="admin__block__content"]{
    min-width: 190px;
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition-duration: 0.7s;
}

[class*="admin__block__content"]>a>img{
    width: 100%;
    height: auto;
}

[class*="admin__block__content"]:hover{
    transform: translateY(-20px);
}

.admin__block__p1{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    min-height: 44px;
    font-size: 18px;
}

.admin__block__p2{
    font-size: 14px;
    width: 100%;
    height: 100%;
    color: #4d4d51;

}

@media (max-width: 1000px) {

    .administration__block{
        height: auto;
    }

    .admin__block__bot{
        width: 90%;
        height: 80%;
        flex-direction: column;
    }

    [class*="admin__block__content"]{
        width: 100%;
        height: auto;
        
    }
    [class*="admin__block__content"]>a{
        display: flex;
        justify-content: center;
    }
    [class*="admin__block__content"]>a>img{
        width: 40%;
    }

    .admin__block__p1{
        text-align: center;
        margin-top: 25px;
    }
    
    .admin__block__p2{

        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px){
    [class*="admin__block__content"]>a>img{
        width: 60%;
    }
}
/* Блок новостей*/

.news__block{
    background-color: rgb(255, 255, 255);
}
.news__container{
    margin-top: 50px;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between
}

.news__item{
    height: 100%;
    width: 30%;
    max-width: 400px;
}

.news__img{
    position: relative;
    height: 230px;
    width: 100%;
    max-width: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 230px;
    background: rgba(0, 0, 0, 0); /* Настройка цвета и прозрачности для блока с заголовком */
    transition: background 0.5s ease;
  }

  .news__img:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.7); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
  }

  .news__img:hover .button__news{
    visibility: inherit;
  }

.button__news{
    visibility: hidden;
    position: relative;
    bottom: 115px;
    width: 100%;
    text-align: center;

    color: #FFF;
}


.news__img>img{
    height: 100%;
    max-height: 230px;
    width: 100%;
}

.news__date{
    display: block;
    position: relative;
    background-color: #5ad7a9;
    width: 120px;
    height: 25px;
    text-align: center;
    padding-top: 15px;
    top: -50px;
    left: 35px;
}

.news__title{
    margin-top: 30px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.news__title:hover{
    color: rgb(128, 125, 125);
}

.news__text{
    width: 100%;
    margin-top: 15px;
    color: #4d4d51;
}


@media (max-width: 1000px) {

    .administration__block{
        height: auto;
    }

    .news__container{
        width: 90%;
        height: 80%;
        margin-top: 30px;
        flex-direction: column;
        align-items: center
    }

    .news__text {
        text-align: center;
    }

    .news__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    .news__img{
        max-width: 400px;
    }

    .news__date{
        left: 55px;
    }
}

/* FOOTER */

.top__footer{
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #033762;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer__img{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.footer__img>div{
    max-width: 250px;
}

@media (max-width:1125px) {
    .footer__img{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);;
    }
}

@media (max-width:600px) {
    .footer__img{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);;
    }
}

.footer__inf{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;

}

.footer__text{
    font-size: 18px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}


